// Import Bootstrap's Sass files

//customise colours
$primary: #fc5a44;
$secondary: #30333e;
$success: #c5d8ff;
$light: #fff;

$font-family-base: "Work Sans" !default;

$h1-font-size: 3rem;
$h2-font-size: 2.5rem;
$p-font-size: calc(1.3rem + 1vw);
$p-line-height: 1.8rem;
$border-radius: 0;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);
$enable-negative-margins: true;

// Change the container widths for different breakpoints
@import "~bootstrap/scss/bootstrap";

// Add your custom styles here

html {
  font-size: 16px;
}
body {
  background-color: #fff;
  font-family: "Work Sans";
  font-size: 16px;
}
ul {
  padding: 0;
  list-style-type: none;
}

/*
  Customise display classes.
*/

.display-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-1 {
    font-size: 2.8rem;
  }
}

.display-2 {
  font-size: calc(1.5rem + 0.3vw);
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-2 {
    font-size: calc(1rem + 1vw);
  }
}

.display-3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .display-3 {
    font-size: calc(2rem + 0.5vw);
  }
}
@media (min-width: 860px) {
  .display-3 {
    font-size: calc(2.5rem + 1.2vw);
  }
}
@media (min-width: 1800px) {
  .display-3 {
    font-size: calc(4.3rem + 0.2vw);
  }
}

.display-4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: calc(1.8rem + 0.4vw);
  }
}
@media (min-width: 1400px) {
  .display-4 {
    font-size: calc(1.8rem + 1vw);
  }
}

.display-5 {
  font-size: calc(1.2rem + 0.6vw);
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .display-5 {
    font-size: calc(1.2rem + 0.5vw);
  }
}

.display-6 {
  font-size: calc(1rem + 1.5vw);
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-6 {
    font-size: calc(1rem + 1.5vw);
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a:hover,
a:focus {
  color: #fc5a44;
}
