// Import Bootstrap's Sass files

//customise colours 
$primary: #FC5A44; 
$secondary: #30333E; 
$success: #C5D8FF;
$light: #f7f7f7;

$font-family-base: "Work Sans" !default;

$h1-font-size: 3rem;
// Set the font size for h2 elements
$h2-font-size: 2.5rem;
// Set the font size for p elements
$p-font-size: 1.3rem;
$p-line-height: 2rem;
$border-radius: 0; 
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px); 
$enable-negative-margins: true;


// Change the container widths for different breakpoints
@import '~bootstrap/scss/bootstrap';

// Add your custom styles here


html{
  font-size: 16px;
}
body {
  background-color: #f7f7f7;
  font-family: 'Work Sans';
  font-size: 16px;
}
ul{
  padding: 0;
  list-style-type: none;
}

/*
  Customise display classes.
*/
.display-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-1 {
    font-size: 2.5rem;
  }
}

.display-2 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-2 {
    font-size: 3rem;
  }
}

.display-3 {
  font-size: calc(1.525rem + 3.1vw);
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-3 {
    font-size: 4rem;
  }
}

.display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-4 {
    font-size: 6rem;
  }
}

.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-5 {
    font-size: 10rem;
  }
}

.display-6 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-6 {
    font-size: 12.5rem;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}