:root {
  --bs-navbar-active-color: #FC5A44;
}
.w-93{
  width: 93%;
}

.fw-5{
  font-weight: 500;
}

.mb-2r{
  margin-bottom: 2rem;
}

.mb-6{
  margin-bottom: 6rem;
}
//customise padding
.padding-large{
  padding: 6.5rem 8rem 5rem 8rem;
}
.padding-large-no-right{
  padding: 6.5rem 0rem 5rem 8rem;
}

.padding-md{
  padding: 1rem 7rem 5rem 7rem;
}

.padding-medium{
  padding: 3rem 8rem 0rem 8rem;
}

@media (max-width: 768px) {
  .padding-large {
    padding: 1.75rem 1.6rem 1.75rem 1.6rem;
  }
}

.padding-sides{
  padding: 1.1rem 8.125rem 1.1rem 8.125rem;
}
@media (max-width: 768px) {
  .padding-sides {
    padding: 0.75rem 1.6rem 0.75rem 1.6rem;
  }
}

.w-90{
  width: 90%;
}

//customise buttons

.btn{
  padding-left: 1rem;
  padding-right:1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 40px;
  color:  #f7f7f7;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 18rem;

}

.btn-primary{
  width: 16rem;
  text-align: left;
  display: flex;
  justify-content: space-around;

  svg{
    display: inline
  }

  svg > *{
    margin-left: 2rem;
    color: #f7f7f7;
    stroke:  #f7f7f7;
    
  }
}

.btn-outline-primary{
  border: solid #F86A1A 3px;
}

.link-button{
  display:inline-block;
  background-color:#FC5A44;
  color: #f7f7f7;
  width: 16rem;
  text-align: left;
  border-radius:40px;
  text-decoration: none;
}

//customise text
p{
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
}

.subheading {
  font-size: 1.3rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

//nav menu

.offcanvas.offcanvas-end {
  width: 100%;
  max-width: 100vw;
}
.navbar{
  border-bottom: solid 0.05rem #f7f7f7;
}
.navbar-brand{
  z-index: 2000;
}

.navbar-toggler{
  outline: none;
  border: none;
  color: transparent;
}
.navbar-toggler-icon{
  z-index: 2000;
}


.navbarContainer{
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.offcanvas-title{
  font-size: 3rem;
}

.offcanvas-body{
  position: absolute;
  left: 25%;
  width: 75%;
  top: 12%;
}

@media (max-width: 768px) {
  .offcanvas-body{
    left: 13%;
  }
}
  .nav-link{
  position: relative;
  font-size: 3rem;
  margin-left: 5rem;
 }

.offcanvas-canvas{
  z-index: 3000;
}
.offcanvas-component{
  z-index: 5000;
}
.offcanvas-header{
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1.8rem;
  padding-bottom: 1rem;
}

@media (max-width: 720px) {
  .offcanvas-header{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.offcanvas-image{
  position: absolute;
  right: 0;
  z-index: 2000;
 }

 @media (max-width: 720px) {
  .offcanvas-image{
    display: none;
  }
 }

 .navLogo{
  width: 11rem;
 }


.nav-link.active::before{
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg width='61' height='94' viewBox='0 0 61 94' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.9904 51.7739L-11.3025 77.7653L-11.0698 103.415L67.5412 51.4152L-12.0002 0.849822L-11.7675 26.4996L27.9904 51.7739Z' fill='%23FC5A44'/%3E%3C/svg%3E%0A");
  display: inline-block;
  font-size: 1.5rem;
  top: -.5rem; 
  left: -6rem;
}

//Footer 

footer{
  color: #f7f7f7;
}
.footerLogo {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.colTitle{
  font-weight: 600;
  font-size: 2rem;
  
}

.copyright{
font-size:1.2rem;
}

.footerLinks{
  list-style: none;
  padding-left: 0;
  line-height: 3rem;
  font-size: 1.2rem;
  font-weight: 400;
}

footer {
    a, a:visited{
  color:#f7f7f7;
  text-decoration: none;
  }
}

//cover 

.hero{
  min-height: calc(100vh - 5.6rem);
  display: flex;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden
}

@media (max-width: 720px) {
  .hero {
    height: 100%;
    flex-wrap: wrap-reverse;
    align-items: start;
  }
}

.text{
  position: relative;
  h1{
    margin-bottom: 1rem;
  }
  p{
    max-width: 85%;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media(max-width:720px){
  .text{
    position: static;
    margin: 2rem;

    h1{
      font-size: 3rem;
    }
    p{
      font-size: 1.5rem;
    }
  }
}

.introText{
  z-index: 100;
}

.hero.dark{
  color: #f7f7f7;
}

.hero.contact{
  color: #f7f7f7;
  overflow:visible;

}


.x-bkg{
  position: absolute;
  top: 0;
  bottom:0;
  right: -6.47222vw;
  max-width: 52.44444vw;
  max-height: calc(100vh - 5rem);
  object-fit: cover;
}

@media (max-width: 960px) {
  .coverImage {
    position:static;
    width: 100%;
    height: auto;
    right: 0;
    top: 0;
  }
}

//quote hero
.quote-hero{
  min-height: 800px;
	background-image: url("data:image/svg+xml,%3Csvg width='946' height='832' viewBox='0 0 946 832' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1756.71 -522.321H1557.58L1042.26 272.119L526.916 -522.321H327.805L942.703 425.604L326.965 1374.8H526.1L1042.26 579.066L1558.42 1374.8H1757.53L1141.81 425.604L1756.71 -522.321Z' fill='%23C5D8FF'/%3E%3Cpath d='M200.631 -522.441L1.51924 -522.489L616.202 425.58L0.271484 1374.63L199.383 1374.68L815.313 425.628L200.631 -522.441Z' fill='%23C5D8FF'/%3E%3Cpath d='M1439.93 -522.321H1240.82L1041.83 -215.566L842.859 -522.321H643.724L1041.83 91.381L1439.93 -522.321Z' fill='%23C5D8FF'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
}
@media (max-width: 540px)  {
// .quote-hero{
// background-position-x: 40%;
// }
}

.cta-hero{
  min-height: 800px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' id='prefix__Layer_2' data-name='Layer 2' viewBox='0 0 350 797.97'%3E%3Cdefs%3E%3CclipPath id='prefix__clippath'%3E%3Crect width='350' height='797.97' class='prefix__cls-1'/%3E%3C/clipPath%3E%3CclipPath id='prefix__clippath-1'%3E%3Crect width='874' height='798' x='-524' class='prefix__cls-1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='prefix__Layer_1-2' data-name='Layer 1' style='clip-path:url(%23prefix__clippath)'%3E%3Cg style='clip-path:url(%23prefix__clippath-1)'%3E%3Cpath d='M215.15 797.48H131.4L-386.23.06h83.75l517.63 797.42Z' fill='%23fc5a44'/%3E%3Cpath d='M214.82.06h-83.75l-517.66 797.42h83.75L214.82.06ZM90.94 399.04 349.48.55l-83.75.03L7.19 399.07 266.25 798l83.75-.03L90.94 399.04ZM-92.5 668.57l83.7 128.91h83.75L-92.5 539.52l-167.45 257.96h83.75l83.7-128.91ZM-85.88 128.99-169.58.06h-83.75l167.45 257.98L81.57.06H-2.19L-85.89 129Z' fill='%23fc5a44'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  align-items: center;
}

@media (max-width: 540px)  {
  .cta-hero{
  background-position-x: -140%;
}
}

.quoteText{
  margin: 1rem 8.125rem 1rem 8.125rem;
  max-width: 42rem;
}
@media (max-width: 768px) {
  .quoteText{
    margin: 1rem 1rem 1rem 1rem;
    
  }
}

.ctaText{
  color:#30333E; 
  left: 32%;
}

.quote{
 margin-bottom: 3rem;
}


//

.logo{
  width: 240px  ;
  border-radius: 20px;
  height: 100px;
  text-align: center;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoText{
  font-size: 3rem;
  line-height: 4rem;
  margin-left: 1rem;
  color:#F86A1A;
}

.logoInfo{
 max-width: 60rem;
 margin: 5rem auto;
 
}



.contact-hero{
  height: calc(100vh + 90px);
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 100;
}

.about-hero{
  height: calc(100vh + 90px);
  width: 100vw;
  position: absolute;
  top: -90px;
  right: 0;
  z-index: 100;
  
}
svg{
  pointer-events: none;
}

.contact-table{
  border-right: solid 3px #FC5A44; 
}
.contactCol{
  padding-left: 5rem;
}
.light{
  color:#30333E;
}

//
.clip-path-polygon {
  position: relative;

  width: 100vw;
  height: 100vh;
  background-color:#FC5A44; 
  clip-path: polygon(400px 0, 100% 0, 100% 100%, 400px 100%, 15% 50%);
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #f7f7f7;
  z-index: 5000;
}
.heroPolygon{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='521' height='670' viewBox='0 0 521 670' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M127.979 -298.741L0.916368 -298.772L393.174 306.281L0.120117 911.961L127.182 911.991L520.236 306.311L127.979 -298.741Z' fill='%23C5D8FF'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5000;
  left: 5%;
}

.polygonTextWrapper{
  max-width: 38rem;
  margin-right: 8rem;
}


//Carousel and Project Preview

.leadMediaThumb{
  position: relative;
  padding-bottom: 66.666%;
  background: #eee;
}
.previewCard{
  display: block;
  color: inherit;
  text-decoration: none;
}

.previewPosterImg{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-container {
  margin: 0 auto;
  /* Add margin between slides */
  .slick-slide {
    margin: 20px 20px; /* Adjust the margin value as per your requirement */
  }
}


/* the parent */
.slick-list {
  margin: 0 -27px;
}


.carousel-control-next-icon{
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M46.9011 17.1358L69.9999 40.2346L46.9011 63.3334' stroke='%23FC5A44' stroke-width='2' stroke-linecap='square'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6182 40.7177H67.6182H11.6182Z' fill='%23FC5A44'/%3E%3Cpath d='M11.6182 40.7177H67.6182' stroke='%23FC5A44' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E");
  
}

.carousel-control-prev-icon{
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.0989 62.8642L10.0001 39.7654L33.0989 16.6666' stroke='%23FC5A44' stroke-width='2' stroke-linecap='square'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M68.3818 39.2823L12.3818 39.2823L68.3818 39.2823Z' fill='%23FC5A44'/%3E%3Cpath d='M68.3818 39.2823L12.3818 39.2823' stroke='%23FC5A44' stroke-width='2'  f-linecap='square'/%3E%3C/svg%3E");

  
  
}
.carousel-control-prev{
  right: 4rem !important;
  left:auto;

}
.carousel-control-next{
  right: 0rem !important;
  left:auto;

}

.carousel-control-prev, .carousel-control-next {
  opacity: 1;
  align-items:flex-start;
  top:-3rem;
  
}

//marquee

.marqueeContainer{
  display: flex;
  width: 100vw;
 
}

.marqueeIndexSpacing{
  margin-bottom: 2rem;
  margin-top: -4rem;
}

.marqueeList{
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  margin-right: 1.5rem;
  white-space: nowrap; /* prevent line breaks */
  font-size: 1rem;
  justify-content: space-around;
  width: 100%;
}

.marqueeText{
  font-size: 6rem;
  font-weight: 500;
  color: #fc5a44;
}

.marqueeServiceText{
  font-size: 6rem;
  font-weight: 500;
  color: #fc5a44;
}


//
.infoBoxWrapper{
  max-width: 36rem;
  margin-bottom: 2rem;
}

.infoBoxText{
  font-size: 3rem;
  line-height: 3.75rem;
  margin-bottom: 2rem;
  letter-spacing: -0.03rem;
  font-weight:500;
}


.serviceTableTopRow{
  border-bottom:#FC5A44 solid 3px;
}

.serviceIcon{
  width:11.5rem;
  height: 11.5rem;
}

.two-lines-height{
  height: 4rem;
}


//About

.missionStatement{
  padding: 4rem 7rem 6rem 7rem;
}