:root {
  --bs-navbar-active-color: #fc5a44;
}

.fw6 {
  font-weight: 600;
}
.mw-xl {
  max-width: 120rem;
}

.mw-large {
  max-width: 130rem;
  margin-left: auto;
  margin-right: auto;
}

.mw-small {
  max-width: 60rem;
}
.w-93 {
  width: 93%;
}
.w-97 {
  width: 98%;
}

.fw-5 {
  font-weight: 500;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

.bg-primary {
  background-color: #fc5a44;
}

@media (min-width: 768px) {
  .w-90-md {
    width: 90% !important;
  }
}

@media (max-width: 768px) {
  .mb-2md {
    margin-bottom: 2rem !important;
  }
}

@media (max-width: 568px) {
  .mb-o {
    margin-bottom: 0rem !important;
  }
}

@media (min-width: 768px) {
  .mt-6 {
    margin-top: 1rem;
  }
}

@media (min-width: 992px) {
  .mt-6 {
    margin-top: 4rem;
  }
}

.mb-2r {
  margin-bottom: 2rem;
}

.mb-45 {
  margin-bottom: 2.5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mt-n6 {
  margin-top: -11rem;
}
@media (max-width: 768px) {
  .mt-n6 {
    margin-top: 0rem;
  }
}

//customise padding

.padding-small {
  padding: 1.85rem 2rem 1.85rem 2rem;
}

.padding-large {
  padding: 3rem 2rem 3rem 2rem;
}

.padding-large-sides {
  padding: 3rem 2rem 1rem 2rem;
}

.padding-large-no-right {
  padding: 3rem 3rem 3rem 2rem;
}

.padding-large-no-bottom {
  padding: 3rem 2rem 0rem 2rem;
}

@media (min-width: 768px) {
  .padding-large {
    padding: 4rem 3rem 4rem 3rem;
  }
  .padding-large-sides {
    padding: 4rem 3rem 0rem 3rem;
  }
  .padding-large-no-right {
    padding: 4rem 0rem 3rem 4rem;
  }
  .padding-large-no-bottom {
    padding: 4rem 3rem 0rem 3rem;
  }
  .padding-small {
    padding: 3rem 3rem 3rem 3rem;
  }
}

@media (min-width: 992px) {
  .padding-large {
    padding: 4rem 6rem 4rem 6rem;
  }
  .padding-large-sides {
    padding: 4rem 6rem 0rem 6rem;
  }
  .padding-large-no-right {
    padding: 4rem 0rem 4rem 6rem;
  }
  .padding-large-no-bottom {
    padding: 4rem 6rem 0rem 6rem;
  }
  .padding-small {
    padding: 4rem 6rem 4rem 6rem;
  }
}

@media (min-width: 1140px) {
  .padding-large {
    padding: 4.5rem 10rem 4.5rem 10rem;
  }
  .padding-large-sides {
    padding: 4.5rem 10rem 0rem 10rem;
  }
  .padding-large-no-right {
    padding: 4.5rem 0rem 4.5rem 10rem;
  }
  .padding-large-no-bottom {
    padding: 4.5rem 10rem 0rem 10rem;
  }
  .padding-small {
    padding: 4rem 6rem 4rem 6rem;
  }
}

@media (min-width: 1640px) {
  .padding-large {
    padding: 8rem 12rem 8rem 12rem;
  }
  .padding-large-sides {
    padding: 8rem 12rem 0rem 12rem;
  }
  .padding-large-no-right {
    padding: 8rem 0rem 8rem 12rem;
  }
  .padding-large-no-bottom {
    padding: 8rem 12rem 0rem 12rem;
  }
  .padding-small {
    padding: 8rem 12rem 8rem 12rem;
  }
}

.padding-md {
  padding: 0rem;
}

@media (min-width: 992px) {
  .padding-md {
    padding: 1rem 7rem 5rem 7rem;
  }
}

.padding-medium {
  padding: 1.5rem;
  padding-bottom: 0rem;
}

@media (min-width: 768px) {
  .padding-medium {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .padding-medium {
    padding: 2rem 7.5rem 0rem 7.5rem;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.padding-sides {
  padding: 1.1rem 8.125rem 1.1rem 8.125rem;
}

.padding-work {
  padding: 2rem 2rem 2rem 2rem;
}

@media (min-width: 566px) {
  .padding-work {
    padding: 3rem 3rem 3rem 3rem;
  }
}

@media (min-width: 992px) {
  .padding-work {
    padding: 4rem 4rem 8rem 8rem;
  }
}

.padding-team {
  padding: 2rem;
}

@media (min-width: 568px) {
  .padding-team {
    padding: 3.5rem;
  }
}
@media (min-width: 992px) {
  .padding-team {
    padding: 4rem;
    max-width: 85rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.padding-sides {
  padding: 1.5rem 2rem 1.5rem 2rem;
}
@media (min-width: 768px) {
  .padding-sides {
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
}
@media (min-width: 992px) {
  .padding-sides {
    padding: 1.5rem 6rem 1.5rem 6rem;
  }
}

@media (min-width: 1640px) {
  .padding-sides {
    padding: 1.5rem 8rem 1.5rem 8rem;
  }
}

.padding-xl {
  padding: 2rem 2rem 2rem 2rem;
}
@media (min-width: 768px) {
  .padding-xl {
    padding: 4rem;
  }
}
@media (min-width: 922px) {
  .padding-xl {
    padding: 4.5rem 10rem 7rem 14rem;
  }
}

//customise buttons

.btnBorder {
  border: 0.5px white solid;
}
.btn {
  display: flex;
  padding-left: calc(1.5rem + 0.2vw);
  padding-right: calc(1.5rem + 0.2vw);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 40px;
  color: #fff;
  width: fit-content;
  font-weight: 500;

  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.btn-large {
  margin-left: 0.2rem;
}

.btn-arrow {
  margin-left: 2rem;
  height: calc(1.2rem + 0.2vw);
  width: calc(2rem + 0.2vw);
}

.btn-primary {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-color: #c5d8ff;

  svg {
    display: inline;
  }

  svg > * {
    margin-left: 2rem;
    color: #fff;
    stroke: #fff;
  }
}

.outline-primary {
  border: solid #f86a1a 3px;
}

.link-button {
  background-color: #fc5a44;
  color: #fff;
  text-align: left;
  border-radius: 40px;
  text-decoration: none;
  width: fit-content;
}

//customise text
p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

span {
  font-size: 0.8rem;
  line-height: 1.2;
}

@media (min-width: 1840px) {
  p {
    font-size: calc(1.2rem + 0.3vw);
    line-height: 1.6;
  }
  span {
    font-size: calc(1rem + 0.3vw);
    line-height: 1.2;
  }
}

.subheading {
  font-size: 1.1rem;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-weight: 500;
}

.titleWidth {
  max-width: 12rem;
}

@media (min-width: 768px) {
  .titleWidth {
    max-width: 30rem;
  }
}

@media (min-width: 1240px) {
  .subheading {
    font-size: calc(1rem + 0.2vw);
  }
}

.lh-2 {
  height: 5rem;
}

//nav menu

@media (min-width: 769px) {
  .offcanvas {
    background-image: url("data:image/svg+xml,%3Csvg width='665' height='760' viewBox='0 0 665 780' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_388_7437)'%3E%3Cpath d='M673.1 663.65L756.02 791.51H839L673.1 535.69L507.2 791.51H590.18L673.1 663.65Z' fill='%23FC5A44'/%3E%3Cpath d='M977.58 0.699951H894.59L679.83 331.86L465.06 0.699951H382.08L638.34 395.84L381.73 791.51H464.72L679.83 459.81L894.94 791.51H977.92L721.32 395.84L977.58 0.699951Z' fill='%23FC5A44'/%3E%3Cpath d='M329.08 0.649883L246.1 0.629883L502.27 395.83L245.58 791.44L328.56 791.46L585.25 395.85L329.08 0.649883Z' fill='%23FC5A44'/%3E%3Cpath d='M845.56 0.699951H762.58L679.65 128.57L596.73 0.699951H513.74L679.65 256.52L845.56 0.699951Z' fill='%23FC5A44'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_388_7437'%3E%3Crect width='1224' height='792.01' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: top right;
  }
}

.offcanvas.offcanvas-end {
  width: 100%;
  max-width: 100vw;
}
.navbarLight {
  border-bottom: solid 0.1rem #fff;
}
.navbarDark {
  border-bottom: solid 0.1rem black;
}
.navbar-brand {
  z-index: 2000;
  margin-left: 0.25rem;
}
.filterDark {
  filter: invert(100%) grayscale(100%);
}

.navbar-toggler {
  outline: none;
  border: none;
  color: transparent;
  z-index: 1000;
}
.navbar-toggler-icon {
  z-index: 2000;
}
.navbarContainer {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 992px) {
  .navbarContainer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 768px) {
  .navbarContainer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.offcanvas {
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.offcanvas-title {
  font-size: 2.5rem;
}

.offcanvas-body {
  position: absolute;
  left: 25%;
  width: 75%;
  top: 12%;
}

@media (max-width: 768px) {
  .offcanvas-body {
    left: 8%;
  }
}
.nav-link {
  position: relative;
  font-size: 2rem;
  margin-left: 2.5rem;
}

@media (min-width: 768px) {
  .nav-link {
    position: relative;
    font-size: 2.8rem;
    margin-left: 3rem;
  }
}

.offcanvas-canvas {
  z-index: 3000;
}
.offcanvas-component {
  z-index: 5000;
}
.offcanvas-header {
  padding: 2rem;
}

@media (min-width: 768px) {
  .offcanvas-header {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.8rem;
    padding-bottom: 1rem;
  }
}

.offcanvas-image {
  position: absolute;
  right: 0;
}

.offcanvas-image {
  display: none;
}

@media (min-width: 986px) {
  .offcanvas-image {
    display: block;
  }
}

.navLogo {
  width: 11rem;
}

.nav-link.active::before {
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg width='61' height='60' viewBox='0 0 61 94' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.9904 51.7739L-11.3025 77.7653L-11.0698 103.415L67.5412 51.4152L-12.0002 0.849822L-11.7675 26.4996L27.9904 51.7739Z' fill='%23FC5A44'/%3E%3C/svg%3E%0A");
  display: inline-block;
  font-size: 1.5rem;
  top: 0.3rem;
  left: -7rem;
  margin-left: 2.5rem;
}

//Footer

footer {
  color: #fff;
}
.footerLogo {
  margin-bottom: 2rem;
  width: 13.5rem;
}

.colTitle {
  font-weight: 500;
  font-size: 1.6rem;
}

.copyright {
  font-size: 0.8rem;
}

.footerLinks {
  list-style: none;
  padding-left: 0;
  line-height: 2.2;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: -1rem;
}

@media (min-width: 768px) {
  .copyright {
    font-size: 1rem;
  }
  .footerLinks {
    font-size: 1.1rem;
  }
}

footer {
  a,
  a:visited {
    color: #fff;
    text-decoration: none;
  }
}

/***************
 CLIENTS SECTION
****************/

.logo-container-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.logo-container {
  min-width: 5rem;
  flex-basis: calc((100% - 2 * 1rem) / 2);
  max-height: 75px;
  border-radius: 20px;
  text-align: center;
  background-color: #fff;
  display: grid;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

@media (min-width: 768px) {
  .logo-container {
    flex-basis: calc((100% - 4 * 2.5rem) / 4);
  }
}

.logo {
  max-height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.quote-chevron {
  flex: 0 0 50px;
}

.logoText {
  flex: 1;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-left: 1rem;
  color: #f86a1a;
}

@media (min-width: 768px) {
  .logoText {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

.logoInfo {
  max-width: 50rem;
  margin: 0.5rem auto;
  min-height: 15rem;
}

svg {
  pointer-events: none;
}

.contactCol {
  padding-left: 1rem;
  margin-top: 1rem;
}

@media (min-width: 922px) {
  .contactCol {
    margin-top: 0rem;
    padding-left: 5rem;
  }
}
.light {
  color: #30333e;
}

//Carousel and Project Preview

.leadMediaThumb {
  position: relative;
  padding-bottom: 62.666%;
}
.previewCard {
  display: block;
  color: inherit;
  text-decoration: none;
}

.previewPosterImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider-container {
  height: fit-content;
  margin-bottom: 0rem;
}

@media (min-width: 768px) {
  .slider-container {
    height: fit-content;
    margin-bottom: 2rem;
  }
}

.preview-card-container {
  max-width: 30rem;
}

@media (min-width: 576px) {
  .slick-slide {
    padding: 10px 20px 0px 0px; /* Adjust the margin value as per your requirement */
  }
}

@media (max-width: 768px) {
  .slick-list {
    margin: 0 0px;
  }
}

/* the parent */
.slick-list {
  margin: 0 -27px;
}

@media (min-width: 576px) {
  .btn-wrap {
    margin-right: 4rem;
  }
}

.arrow {
  height: calc(2rem + 1vw);
  width: calc(2rem + 1vw);
}

.arrowLeft {
  transform: rotate(180deg);
}

.arrow-btn {
  outline: none;
  border: none;
  background-color: transparent;
}

.arrow-btn:hover {
  filter: brightness(150%);
}

//marquee

.marqueeContainer {
  display: flex;
  width: 100vw;
  overflow: hidden;
}

.marqueeList {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  margin-right: 1rem;
  white-space: nowrap; /* prevent line breaks */
  font-size: 1rem;
  justify-content: center;
  margin-left: 1rem;
}

.marqueeList > img {
  height: 50px;
}

.marqueeText {
  font-size: 3rem;
  font-weight: 500;
  color: #fc5a44;
  flex: 1;
}

@media (min-width: 768px) {
  .marqueeText {
    font-size: 4rem;
  }
}

//
.infoBoxWrapper {
  max-width: 450px;
}

@media (min-width: 768px) {
  .infoBoxWrapper {
    max-width: 425px;
  }
}
@media (min-width: 1600px) {
  .infoBoxWrapper {
    max-width: 650px;
  }
}

@media (min-width: 2000px) {
  .infoBoxWrapper {
    max-width: 850px;
  }
}

.infoBoxText {
  letter-spacing: -0.03rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .infoBoxText {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 1400px) {
  .infoBoxText {
    letter-spacing: -0.03rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
  }
}

.serviceTableTopRow {
  border-bottom: #fc5a44 solid 3px;
}

.serviceIcon {
  object-fit: contain;
  height: 60%;
}

@media (min-width: 768px) {
  .two-lines-height {
    height: 4rem;
  }
}

.servicesGraphic {
  height: 10%;
  padding-bottom: 4rem;
}

.vennGraphic {
  height: 20%;
  width: 100%;
  max-width: 80rem;
  display: none;
}

.vennGraphicMobile {
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: block;
}

@media (min-width: 768px) {
  .servicesGraphic {
    height: 20%;
    padding-bottom: 2rem;
    max-width: 60rem;
  }
  .vennGraphic {
    display: block;
    padding: 2rem;
    height: 20%;
  }
  .vennGraphicMobile {
    display: none;
  }

  .vennGraphic-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .serviceGraphic-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

.serviceTitleDescription {
  max-width: 32rem;
}

//About

.missionStatement {
  padding: 1rem 2.5rem 2rem 2.5rem;
}

@media (min-width: 768px) {
  .missionStatement {
    padding: 1rem 3.5rem 3rem 3.5rem;
  }
}

@media (min-width: 992px) {
  .missionStatement {
    padding: 4rem 3rem 4rem 4rem;
    margin-bottom: -4rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.aboutWidth {
  width: 100%;
}

@media (min-width: 768px) {
  .aboutTable {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 85rem;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutWidth {
    width: 95%;
  }
}

.separator {
  display: none;
}

@media (min-width: 768px) {
  .separator {
    margin-left: 0.25rem;
    border-right: 3px solid #fc5a44;
    height: 350px;
  }
}

/******************
 FEATURED WORK CMS 
 *****************/

.work-detail-container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  column-gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.work-detail-keywords {
  grid-row: 1 / 3;
  margin-top: 1rem;
  // height: fit-content;
  // position: sticky;
  // top: 5%;
}

.work-detail-image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.work-detail-image-gallery-three {
  display: flex;
}

.video-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 180%;
}
.work-detail-image-gallery-four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.work-detail-text-illustration {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .work-detail-text-illustration {
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .work-detail-text-illustration > * {
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
  }
}

.work-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  // grid-auto-rows: 1fr;
  grid-auto-rows: min-content;
}

@media (max-width: 769px) {
  .work-grid-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
.preview-card-wrapper {
  margin-top: -1rem;
}

.work-grid:nth-child(9n) {
  grid-column: span 2;
  grid-row: span 2;
  margin-top: 0;
}

.work-grid-container .work-grid:first-child {
  margin-top: 0;
}

.empty-grid {
  display: none;
}

@media (min-width: 768px) {
  .preview-card-wrapper {
    margin-top: -10rem;
  }
  .empty-grid {
    display: block;
  }
}

.projectPreviewText {
  min-height: 4rem;
}
